/* Heading */
.jumbotron {
    color: #ffffff;
    background-color: #7b3fb8;
    border-bottom: 5px solid #5c2f8a;
}

h1 {
    font-size: 3rem;
}

/* Employee cards */
.employee-card {
    border: 1px solid #000000; 
    border-radius: 10px solid #000000;
    margin: 0.5rem;
    box-shadow: 3px 6px #888888;
}

.list-group {
    border-style: double;
}

.card-manager {
    background-color: #f84d4d;
}

.card-engineer {
    background-color: #4094c5;
}

.card-intern {
    background-color: #39b339;
}